<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.learning.mapper.QuestionTagMapper">

    <insert id="insertQuestionTag">
        insert into question_tags (
            question_id,
            tag_id
        ) values (
            #{questionId},
            #{tagId}
        )
    </insert>

    <select id="countByQuestionId" resultType="int">
        select count(1)
        from question_tags
        where question_id = #{questionId}
    </select>

    <delete id="deleteQuestionTagsByQuestionId">
        delete from question_tags
        where question_id = #{questionId}
    </delete>
</mapper>
